@model IEnumerable<learnpoint_2._0.Models.SchoolClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Classes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassTitle)
            </th>
            <th>
                Class Superintendent
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="col-sm-2">
                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.SchoolClassId">
                    @Html.DisplayFor(modelItem => item.ClassTitle)
                </a>
            </td>
            <td class="col-sm-8">
                @Html.DisplayFor(modelItem => item.ClassSuperintendent.TeacherName)
            </td>
            <td class="col-sm-2">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.SchoolClassId">Edit</a> |
                <a class ="btn btn-danger" asp-action="Delete" asp-route-id="@item.SchoolClassId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
